<%- include('./header') %>

<div class="container-fluid">
	<h4>CATEGORIES</h4>
	<ul class="list-group">
		<% categories.forEach(function(cat){ %>
			<li class="list-group-item"><%= cat.title %></li>
	 <%	}) %>
	</ul>
</div>

<%- include('./footer') %>
