<%- include('./header') %>

<div class="app-body">
	<div class="sidebar">
      <nav class="sidebar-nav">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/admin/dashboard"><i class="icon-speedometer"></i> Dashboard</a>
          </li>

          <li class="nav-title">
            Categories
          </li>
          <li class="nav-item">
          	<a class="nav-link" href=""><i class="fa fa-sitemap"></i> all categories</a>
          </li>
          <li class="nav-item">
          	<a class="nav-link" href=""><i class="fa fa-plus-square"></i> add categorie</a>
          </li>
          <li class="divider"></li>
          <li class="nav-title">
          	Movies
          </li>
          <li class="nav-item">
          	<a class="nav-link" href=""><i class="fa fa-file-movie-o"></i>all movies</a>
          </li>
          <li class="nav-item">
          	<a class="nav-link" href=""><i class="fa fa-plus-square"></i> add movie</a>
          </li>
          <li class="divider"></li>
          <li class="nav-title">
          	Directors
          </li>
          <li class="nav-item">
          	<a class="nav-link" href=""><i class="fa fa-user"></i> all</a>
          </li>
          <li class="nav-item">
          	<a class="nav-link" href=""><i class="fa fa-plus-square"></i> add director</a>
          </li>
          <li class="divider"></li>
          <li class="nav-title">
          	Actors
          </li>
          <li class="nav-item">
          	<a class="nav-link" href=""><i class="fa fa-user-secret"></i>all actors</a>
          </li>
          <li class="nav-item">
          	<a class="nav-link" href=""><i class="fa fa-plus-square"></i> add actor</a>
          </li>
        </ul>
      </nav>
      <button class="sidebar-minimizer brand-minimizer" type="button"></button>
    </div>
</div>

<%- include('./footer') %>