		</main>
	</div>
<!-- end of app-body -->
	<script src="/admin/js/jquery.min.js"></script>
	<script src="/admin/js/jquery-ui.min.js"></script>
  <script src="/admin/js/popper.min.js"></script>
  <script src="/admin/js/bootstrap.min.js"></script>
  <script src="/admin/js/app.js"></script>
</body>
</html>
